<div class='text-center'>
  hello

  <h2>{{user.name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for='img' aria-label='money'>💲</span>
    <span class='dollar-amount'>{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <a href="/response/{{id}}"">
      <button class='btn btn-primary'>Respond to this post data-id='{{project.id}}'
      </button></a>
  </p>
  {{#if responses.length}}
    <p><b>Comments</b></p>
  {{/if}}
  {{#each responses as |response|}}
    {{response.description}}
    {{response.name}}
  {{/each}}
</div>